@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #fff;
  font-family: var(--font-chivo), sans-serif;
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
    opacity: 1;
  }
  to {
    transform: translateX(-100%);
    opacity: 0;
  }
}

.slide-element {
  animation: slideIn 0.5s ease forwards;
}

.slide-element.exit {
  animation: slideOut 0.5s ease forwards;
}

.active-icon svg path {
  stroke: #1F0954;
}

.hover-icon:hover svg path {
  stroke: #1F0954;
}

::-webkit-scrollbar {
  width: 8px; 
}

::-webkit-scrollbar-thumb {
  background-color: #086BED;
  border-radius: 10px;
}

/* Scrollbar track on hover */
::-webkit-scrollbar-thumb:hover {
  background-color: #A100FF; /* Slightly lighter shade */
}

/* Scrollbar background */
::-webkit-scrollbar-track {
  background: #CEE1FB; /* Light background */
}

